# 01. Import Libraries

In [3]:
import pandas as pd
import numpy as np

# 02. Import Datasets

In [10]:
# Defines path as intro file path for Instacart project

path = r'/home/0668a905-109d-4403-be59-0a04abf51dd9/Instacart Basket Analysis'

In [14]:
# Imports latest customer_orders_products dataframe

ords_prods_merge = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','customers_orders_products.pkl'))

In [17]:
# Imports latest departments dataframe

dept_name = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.pkl'))

In [39]:
# Set the display option to show all columns

pd.set_option('display.max_columns', None)

# 03. Merge Datasets

In [28]:
# Convert 'department_id' to int64 in both DataFrames

ords_prods_merge['department_id'] = ords_prods_merge['department_id'].astype(int)
dept_name.index = dept_name.index.astype(int)

In [32]:
# Merge ords_prods_merge_high & dept_names

ords_prods_dept_merge = ords_prods_merge.merge(dept_name, left_on='department_id', right_index=True)

In [42]:
# Check output

ords_prods_dept_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spender_flag,median_order,order_frequency_flag,gender,state_name,age_customer,date_joined,number_dependants,marital_status,income,department
0,2617132,55630,6,2,15,5.0,31766,13,0,Cheese Pizza Snacks,129,1,14.3,Mid-range product,Regularly busy,Regularly busy,Most orders,50,Loyal customer,7.550000,Low spender,5.0,Frequent customer,Female,Rhode Island,29,10/5/2017,2,married,71955,frozen
47,1158288,55630,1,5,15,NaN,6377,5,0,Raspberry Chocolate Chip Gelato,37,1,5.0,Low-range product,Regularly busy,Regularly busy,Most orders,50,Loyal customer,7.550000,Low spender,5.0,Frequent customer,Female,Rhode Island,29,10/5/2017,2,married,71955,frozen
84,30342,168460,31,2,12,6.0,31766,13,1,Cheese Pizza Snacks,129,1,14.3,Mid-range product,Regularly busy,Regularly busy,Most orders,43,Loyal customer,7.696932,Low spender,7.0,Frequent customer,Female,Connecticut,75,2/1/2020,2,married,111758,frozen
120,1859900,168460,42,4,10,18.0,20995,10,1,Organic Broccoli Florets,116,1,8.3,Mid-range product,Least busy,Least busy days,Most orders,43,Loyal customer,7.696932,Low spender,7.0,Frequent customer,Female,Connecticut,75,2/1/2020,2,married,111758,frozen
121,2432960,168460,4,0,12,6.0,20995,23,0,Organic Broccoli Florets,116,1,8.3,Mid-range product,Busiest day,Busiest days,Most orders,43,Loyal customer,7.696932,Low spender,7.0,Frequent customer,Female,Connecticut,75,2/1/2020,2,married,111758,frozen

# 04. Export Dataframe

In [54]:
# Export merge ords_prods_dept_merge as pickle

ords_prods_dept_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_departments.pkl'))