# Contents

01. Importing Libraries
02. Importing Datasets
03. Lesson
04. Exercise 4.5
05. Export Cleaned Dataframes

# 01. Importing Libraries

In [21]:
import pandas as pd
import numpy as np

In [22]:
# Confirming that pandas & numpy were imported by printing versions

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

# 02. Importing Datasets

In [24]:
# Defines path as intro file path for Instacart project

path = r'/home/0668a905-109d-4403-be59-0a04abf51dd9/Instacart Basket Analysis'

In [26]:
# Defines 'df_prods' (dataframe for products.csv) with shortened path (using os.path.join)

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [28]:
# Defines 'df_ords' (dataframe for orders_wrangled.csv) with shortened path (using os.path.join)

df_ords = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

# 03. Lesson

### Mixed Type Data

In [30]:
# Create a dataframe

df_test = pd.DataFrame()

In [32]:
# Create a mixed type column

df_test['mix'] = ['a','b',1 , True]

In [34]:
# Prints df_test

df_test.head()

    mix
0     a
1     b
2     1
3  True

In [36]:
# Checked for mixed types

for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [38]:
# Changes mix value to string

df_test['mix'] = df_test['mix'].astype('str')

### Missing Values

In [40]:
# Uses isnull function to finding missing observations

df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [42]:
# Create subset of missing data

df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [44]:
# Prints df_nan

df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [46]:
# Finds # of rows & columns of df_prods

df_prods.shape

(49693, 5)

In [48]:
# Removes null data from product name (because these numerical values are more similar to strings)

df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [50]:
# Finds # of rows & columns of df_prods_clean

df_prods_clean.shape

(49677, 5)

### Duplicates

In [52]:
# Searches for duplicate rows in df_prods_clean and defines these as df_dups

df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [54]:
# Prints df_dups

df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [56]:
# Finds # of rows & columns in df_prods_clean

df_prods_clean.shape

(49677, 5)

In [58]:
# Drops duplicate rows from df_prods_clean and defines as df_prods_clean_no_dups

df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [60]:
# Finds # of rows & columns in df_prods_clean_no_dups

df_prods_clean_no_dups.shape

(49672, 5)

# 04. Exercise 4.5

### Checking Descriptive Analysis

In [62]:
# Descriptive analytics on df_ords dataframe

df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

#### Values that seem off in df_ords:

1. All columns have the same count (3.421083e+06) except for days_since_prior_order (3.214874e+06); null values?
2. orders_day_of_week has a min value of 0 (would expec this to be numbers 1 - 7)

### Mixed Data Types

In [64]:
# Checked for mixed data types in df_ords

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

#### The mixed data type for loop does not print anything, meaning columns don't appear to have mixed data types.

### Missing Values

In [66]:
# Uses isnull function to finding missing observations in df_ords

df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
evaluation_set                 0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [68]:
# Finds # of rows & columns in the df_ords data set

df_ords.shape

(3421083, 8)

In [70]:
# Checking percentage of "O" values in the entire df_ords dataframe

206209/3421083

0.06027594185817766

#### Days since prior order rows are about 6% of the total dataframe count. I will leave these values as 1) it represents more than 5% of the information and 2) we know "0" could represent an actual value, not just missing information. This could signify purchases were made by customeres on the same day, so in this case seem worth leaving.

### Full Duplicate Values

In [72]:
# Searches for duplicate rows in df_ords and defines these as df_dups

df_dups = df_ords[df_ords.duplicated()]

In [74]:
# Prints df_dups

df_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, evaluation_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

#### No full duplicate rows appear to be missing in the df_ords dataframe.

# 05. Export Cleaned Dataframes

In [76]:
# Export cleaned df_ords data into the Prepared Data folder

df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))

In [78]:
# Export cleaned df_prods_clean_no_dups data into the Prepared Data folder

df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

In [117]:
df_prods_clean_no_dups.shape

(49672, 5)