# Contents
01. Importing Libraries
02. Importing Datasets
03. Merging df_ords with products_checked
    1. Check output & shape of datasets
    2. Remove Columns & Change Datatypes
    3. Merge Dataframes
5. Export df_ords_prods_merged as pickle

# 01. Importing Libraries

In [11]:
import pandas as pd
import numpy as np

In [12]:
# Confirming that pandas & numpy were imported by printing versions

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

# 02. Importing Datasets

In [14]:
# Defines path as intro file path for Instacart project

path = r'/home/0668a905-109d-4403-be59-0a04abf51dd9/Instacart Basket Analysis'

In [16]:
# Imports combined orders file

df_ords = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [18]:
# Imports products_checked

df_products = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data','products_checked.csv'), index_col = False)

# 03. Merging df_ords with products_checked

### 1. Check output & shape of datasets

In [20]:
# Check the output

df_ords.head()

,Unnamed: 0,order_id,user_id,evaluation_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
8784638,927121,2617132,55630,prior,6,2,15,5.0,31766,13,0,both
22181492,2340400,868608,140899,prior,6,4,21,12.0,26410,7,1,both
20303653,2142460,1712432,128861,prior,1,4,13,NaN,37107,6,0,both
21784878,2298205,1761379,138404,prior,51,2,8,4.0,16837,7,1,both
20044216,2114200,2224303,127151,prior,8,1,17,5.0,27966,8,0,both

In [22]:
# Check the shape

df_ords.shape

(6486898, 12)

In [24]:
# Check the shape of df_products

df_products.shape

(49672, 6)

In [26]:
# Check the output of df_products

df_products.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

### 2. Remove Columns & Change Datatypes

In [28]:
# Removes "_merged" column from df_ords

df_ords = df_ords.drop(columns=['evaluation_set','_merge'])

In [30]:
# changes product_id to int32 in df_ords

df_ords['product_id'] = df_ords['product_id'].astype('int32')

In [32]:
# change price columns to float32

df_products['prices'] = df_products['prices'].astype('float32')

In [34]:
# changes product_id to int32 in df_products

df_products['product_id'] = df_products['product_id'].astype('int32')

### 3. Merge Dataframes

In [36]:
# Merge df_ords_reduced & df_products dataframes

df_ords_prods_merged = df_ords.merge(df_products, on = 'product_id', indicator = True)

In [38]:
# Check merged output

df_ords_prods_merged.head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,927121,2617132,55630,6,2,15,5.0,31766,13,0,31768,Cheese Pizza Snacks,129,1,14.3,both
1,2792928,30342,168460,31,2,12,6.0,31766,13,1,31768,Cheese Pizza Snacks,129,1,14.3,both
2,2193387,3191294,132038,4,6,12,30.0,31766,4,0,31768,Cheese Pizza Snacks,129,1,14.3,both
3,700457,747623,42201,28,0,10,2.0,31766,10,1,31768,Cheese Pizza Snacks,129,1,14.3,both
4,214674,68597,12960,19,6,9,6.0,31766,16,1,31768,Cheese Pizza Snacks,129,1,14.3,both

In [40]:
# perform merge flag

df_ords_prods_merged['_merge'].value_counts()

_merge
both          6480944
left_only           0
right_only          0
Name: count, dtype: int64

In [42]:
# Check merged dataframe shape

df_ords_prods_merged.shape

(6480944, 16)

# 04. Export df_ords_prods_merged as pickle

In [44]:
# # Export as pickle

df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined_large.pkl'))